# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
pubspec.lock
*.iml
.idea/
android/.gradle/
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java
ios/Flutter/Generated.xcconfig
